commands:
  create_script_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/script"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/script/example_echo_script.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "This is a script that does nothing but echo to a file" | sudo tee /home/ec2-user/echoscriptoutput > /dev/null
